<div class="container">
  <div class="title-section">Invest Pool</div>
  <div class="invest-wrapper">
    <w3s-table [tableHeaders]="tableHeaders"
               [data]="tableData"
               [isLoadMore]="isLoadMore"
               customClass="table-custom-class"
               (loadMore)="loadMoreTable()"
               (sort)="tableSort()"
    >
    </w3s-table>
    <div class="invest-sidebar">
      <div class="pool-item">
        <div class="pool-value">528,082 USDT</div>
        <div class="pool-name">Pool Value</div>
      </div>
      <div class="pool-item">
        <ng-container *ngIf="authorization; else withoutAuth">
          <div class="pool-value">0 USDT</div>
          <div class="pool-name">My Pool Balance</div>
          <div class="btn-group">
            <w3s-button label="Invest"
                        [height]="48"
                        [adaptive]="true"
                        (buttonClicked)="showInvestModal()">

            </w3s-button>
            <w3s-button
              label="Withdraw"
              [color]="COLORS.GRAY"
              [height]="48"
              [adaptive]="true"
              [disabled]="true">

            </w3s-button>
          </div>
        </ng-container>
        <ng-template #withoutAuth>
          <div class="btn-single">
            <w3s-button label="Invest"
                        [height]="48"
                        [adaptive]="true"
                        (buttonClicked)="connectWallet()">

            </w3s-button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
