@use "colors" as c;

$main-font: 'Inter', sans-serif;

// Colors
$text-color: map-get(c.$black, 1);
$main-bg-color: map-get(c.$gray, 1);
$sidebar-bg-color: map-get(c.$blue, 1);
$sidebar-menu-color: map-get(c.$white, 1);
$sidebar-menu-bg-active: map-get(c.$blue, 2);

// Breakpoints
$grid-breakpoints: (
        xs: 374px,
        sm: 576px,
        md: 767px,
        lg: 959px,
        xl: 1200px,
        xxl: 1400px
);
